.about {
  position: relative;
  min-height: 100vh;
  //   padding: 12rem;
  //   background-color: $background-secondary;

  &__wrapper {
    // padding: 7rem 5rem;
    border-radius: $border-rad2;
    // height: 80%;
    // top: 50%;
    // transform: translateY(-50%);
    //margin: 0 8rem;
    position: relative;

  }

  // &__heading {
  //   color: $font-color-off-white;
  // }

  &__content {
    display: flex;
    position: relative;
    color: $font-color-grey;
    padding-top: 3rem;
    // align-items: center;
    // justify-content: flex-start;
    width: 100%;
    // height: 100%;

    // background-color: $font-color-blue;

    @include respond(tab-port) {
      flex-direction: column-reverse;
    }

    &__image-wrapper {
      position: relative;
      //   max-width: 7rem;
      height: 26rem;
      min-width: 25.5rem;
      width: 25.5rem;
      background-color: $font-color-blue;
      border: $border2 solid $font-color-blue;
      border-radius: $border-rad2;
      // opacity: 0.4;
      //   height: auto;
      margin: 1.5rem 0 0 5rem;

      img {
        border-radius: $border-rad2;
        object-fit: cover;
      }

      @include respond(tab-port) {
        border-radius: 90rem;
        margin: 2rem auto;
        margin-bottom: 4rem;

        img {
          border-radius: 90rem;
        }
      }
    }

    // &__text {
    //   text-align: justify;
    // }

    strong {
      // font-weight: 400;
      font-weight: inherit;
      color: lighten($color: $font-color-grey, $amount: 30);
    }
  }
  
}