.footer {
    background-color: $background-primary;
    // background-color: $font-color-blue;
    // box-shadow: inset 0px 0px 60px 15px $background-secondary;

    //margin: 0 8rem;
    padding: 6rem 5.2rem;
    padding-bottom: 0;


    @include respond(phone) {
        // padding: 6rem 4.2rem;
        padding: 0;
    }

    &__wrapper {
        // height: 14.5rem;
        // padding: 1.3rem 2.1rem; // 2.5rem;
        // padding-bottom: 0;
        padding: 2rem 3rem; // 2.5rem;
        padding-bottom: 1rem;
        outline: 0.4rem solid $font-color-blue;
        outline-offset: 0.4rem;
        // box-shadow: inset 0px 0px 4rem 3rem $background-secondary;
        // box-shadow: inset 0px 0px 60px 15px $background-secondary;
        background-color: rgba($color: $background-secondary, $alpha: 0.008);

        // box-shadow: inset 0px 0px 0px 0.5rem $background-secondary;
        border: $border2 solid $background-secondary; // $font-color-blue;
        border-bottom: none;
        border-radius: $border-rad1;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        // display: flex;
        // justify-content: center;

        @include respond(tab-port) {
            padding: 1.5rem;
        }
        @include respond(phone) {
            padding: 1rem;
            padding-left: 4rem;
        }

    }

    &__content {
        // height: 100%;
        // margin: 0.5rem 0 0rem 0;
        display: flex;
        justify-content: space-between;

        @include respond(tab-port) {
            flex-direction: column;
            gap: 3rem;
        }

        &__logo-container {
            width: 27%;
            margin-top: 0.2rem;

        }

        .thanks-message {
            color: $font-color-grey;
            font-weight: 400;
            // border-bottom: 0.4rem solid $font-color-blue;
            // margin-bottom: auto;
            border-bottom: 1px solid $font-color-blue;
            text-align: center;
            padding: 0.5rem;
            padding-bottom: 1.5rem;
            margin-bottom: 1.5rem;
            // margin-top: 0.5rem;
        }

        .footer-list {
            width: 27%;
            color: $font-color-grey;
            padding-bottom: 0;

            @include respond(tab-port) {
                width: 100%;
            }

            ul {
                list-style: none;
                display: flex;
                flex-direction: column;

                @include respond(tab-port) {
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    // gap: 4rem;
                    // gap: 3rem;
                    // width: 100%;
                }

                @include respond(phone) {
                justify-content: space-between;}

                a {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    justify-content: flex-end;
                    gap: 0.9rem;
                    margin-bottom: 1.65rem;
                    letter-spacing: 1.2px;
                    cursor: pointer;
                    transition: color $timer1 ;

                    &:hover {
                        color: $font-color-off-white;
                    }

                    .li-icon {
                        height: 2.3rem;
                        width: auto;
                        color: $font-color-blue;
                    }
                }
            }
        }
    }

    &__credits {
        // max-height: 33.33%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        letter-spacing: 1.8px;
        gap: 0.6rem;
        color: $font-color-grey;
        padding-bottom: 1rem;
        // margin: 1rem 0;

        &__icon {
            &-technoheart {
                height: 1.9rem;
                width: auto; //1.9rem;
                color: $font-color-blue;
                margin-right: 0.29rem;
            }

            &-coffee {
                height: 2.6rem;
                width: auto; //2.7rem;
                padding-bottom: 2px;
                color: $font-color-blue;
            }

            &-nextjs {
                height: 1.9rem;
                width: auto; //1.9rem;
                color: $font-color-grey;
            }
        }
    }

}