.color-layout {
    left: 0;
    top: 0;
    bottom: 0;
    max-width: 100%;
    width: 100%;
    filter: blur(44px);
    opacity: 25%;
    z-index: -1;
    position: fixed;
}

.layout-blue {
    background: radial-gradient(at 150% 0, #3d25fa 0, transparent 50%);
}

.layout-purple {
    top: 25%;
    background: radial-gradient(at 0 150%, #8825fa 0, transparent 50%);
}

.top-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 1.5rem;

    &__items {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        // padding: 1rem;

        &__item {
            margin-right: 1.5rem;
        }
    }
}

.left-navigation {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 65vh;
    transform: translateY(-50%);

    &__item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 0.5rem 0;
        align-items: center;
        color: $font-color-blue;
        // opacity: $opacity-secondary;

        &__bar {
            width: 1.5rem;
            height: 0.17rem;
            margin-right: 0.6rem;
            background-color: $font-color-grey;
            // background-color: $font-color-off-white;
        }
        
    }

    @include respond(tab-land){
        top: 50vh;
    }

}

.social-icons {
    position: sticky;
    display: flex;
    flex-direction: column;
    top: 85vh;
    padding: 0.5rem;
    color: $font-color-white;
    // opacity: $opacity-secondary;

    &__icon {
        padding: 0.5rem;
        display: block;
    }
}