:root {
    --blue-shade: #5B4AF4;//lighten(#503dfef4, 3); // #503dfef4; //#017BFE;// rgb(98, 0, 238); //
}

// Font size
$default-font-size: 2.1rem;
$font-size-1: 2.4rem;
$font-size-2: 1.6rem;

// Transition timer 
$timer1: 250ms;
$timer2: 350ms;
$timer3: 600ms;


// Border width
$border1: 0.3rem;
$border2: 0.4rem;

// Border radius 
$border-rad1: 4px;
$border-rad2: 1rem;

// Colors
$background-primary: #202020;
// $background-primary:#151515;
$background-secondary:#ffffff08; //rgba(255, 255, 255, 0.8);//#050505;

$font-light: rgba(#fff, 92%);
$font-color-blue: lighten(#503dfef4, 3); // #503dfef4; //#017BFE;// rgb(98, 0, 238); //
$font-color-white: #fff; //#fff4d6;
$font-color-off-white: #faf0d4fe; //rgba(white, 80%); //#fff4d6;
$font-color-grey: darken($color: $font-color-white, $amount: 50); // #6c6d6d;//hsla(220, 7%, 57%, 0.781);//hsla(220, 9%, 46%, 0.9);

// Opacity
$opacity-primary: 0.6;
$opacity-secondary: 0.8;

// Constants
$navbar-height: 7rem;