// Font size
$default-font-size: 2.2rem;
$font-size-1: 1.4rem;
$font-size-2: 1.6rem;

// Transition timer 
$timer1: 250ms;
$timer2: 400ms;
$timer3: 600ms;

// Border widths
$border1: 2px;
$border2: 5px;

// Colors
$background-primary: #050505;
$background-secondary: #fff;

$font-color-blue: #4f3dfe;
$font-color-white: #fff4d6;
$font-color-off-white: #fff4d6;

$font-color-grey: hsla(220, 9%, 46%, 0.5);

// Opacity
$opacity-primary: 0.6;
$opacity-secondary: 0.8;